src/main/mule/shopping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d985b17a-c059-4a4b-b2e7-d05cec5554da" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="4b99f49c-4cd6-4943-8612-99d69d993425" >
		<vm:queues >
			<vm:queue queueName="product" />
		</vm:queues>
	</vm:config>
	<configuration-properties doc:name="Configuration properties" doc:id="781bf3b9-3b09-4865-bd9f-88d1353b1805" file="inventory.yaml" />
	<flow name="shoppingFlow" doc:id="a7a51492-0580-472b-b05f-6a6755ab7876" >
		<http:listener doc:name="GET/shopping" doc:id="6045e81d-1294-4ab8-be45-cc46ae1a2fcd" config-ref="HTTP_Listener_config" path="/shopping"/>
		<ee:transform doc:name="Shopping list" doc:id="907582ee-b09b-4197-9c75-ae83343a7110" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
  "Gooday Biscuit" : 10.00,
  "Haldiram Bhujiya" : 112.00,
  "Thumsup-2L" : null,
  "Dawat-Basmati-Rice-5kg" : null,
  "Maggi-Big-Pkt" : null

}
  
 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish-consume doc:name="Publish consume" doc:id="8468cf35-3867-4688-8b0f-67efff2d2b5c" config-ref="VM_Config" queueName="product" timeout="300"/>
		<logger level="INFO" doc:name="continue Shopping" doc:id="2fdb623c-9a80-4182-909c-60a4d635a334" message="continue shopping"/>
		<ee:transform doc:name="Transform Message" doc:id="56f140a3-a3f8-4ed4-8197-08b745204b34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

payload

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="asynchronousFlow" doc:id="be73f204-fdf6-4fd0-bf7b-4ad2e616a9c4" >
		<vm:listener queueName="product" doc:name="Listener" doc:id="b864d0cb-a80c-4d23-a516-2ef468f15ae2" config-ref="VM_Config" timeout="300"/>
		<flow-ref doc:name="check inventory" doc:id="d2b7dfd3-cbe4-4a99-9326-197d4c644f4f" name="shoppingSub_Flow"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;&#10;var product = vars.pName&#10;&#10;---&#10;payload ++ vars.productCost]" doc:name="Set Payload" doc:id="8ec1cd46-e50d-46b8-b189-a0887d0a5b59" />
		<logger level="INFO" doc:name="updated cart" doc:id="ec4e8840-f62a-4daa-9b83-8ab83500adf1" message="updated cart"/>
	</flow>
	<sub-flow name="shoppingSub_Flow" doc:id="7480af02-eaef-403f-b504-d4ded00e8cce" >
		<ee:transform doc:name="Transform Message" doc:id="8c131020-4805-4785-8daa-604629ba0e70" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productCost" ><![CDATA[%dw 2.0
output application/json


var stock =	keysOf(payload filterObject((value) -> value == null)) map(
	      ($): if(p($) !=null) p($) else 'NA'   
    
	     )
 ---
{
 (stock)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="shoppingFlow1" doc:id="c952232d-5808-4159-b5f1-3a89ac207638" >
		<http:listener doc:name="GET/shopping" doc:id="593006ca-38a0-4c23-8905-c3bf732d3ee6" config-ref="HTTP_Listener_config" path="/shopping1" />
		<ee:transform doc:name="Shopping list" doc:id="37c8a363-eca0-4d56-8daf-49d4a05144de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
  "Gooday Biscuit" : 10.00,
  "Haldiram Bhujiya" : 112.00,
  "Thumsup-2L" : null,
  "Dawat-Basmati-Rice-5kg" : null,
  "Maggi-Big-Pkt" : null

}
  
 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish queueName="product" doc:name="Publish" doc:id="c054fbfe-8f8e-4ee5-bd8e-2a3f57296463" config-ref="VM_Config" timeout="300"/>
		<logger level="INFO" doc:name="continue Shopping" doc:id="ea5f9e26-7664-4de6-8fb5-17bc0690ff25" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="84726c13-b1d0-4db0-bf63-d35f7abe0549" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
